RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
<FilesMatch "\.(js|php|ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
    <IfModule mod_php7.c>
    php_value max_execution_time 30

    php_value upload_max_filesize 64M
    php_value post_max_size 64M
    php_value max_input_time 30

    </IfModule>  
</FilesMatch>